{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <form action="" method="post">
        {{ form_widget(formClient) }}
        <input type="submit" value="Add Client">
    </form>

{% endblock %}
